/*https://css-tricks.com/old-timey-terminal-styling/*/
/*https://codepen.io/-hus-/pen/XWryKEJ*/
body {
  background-color: #300A24;
  margin: 0;
  padding: 2rem;
  color:#fff;
  font-family: 'Ubuntu Mono', monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}
a.squiffy-header-link,
a.squiffy-link {
  color: #8ada2f;
  font-weight: 700;
}
View Compiled 
Resources1×0.5×0.25×Rerun
